@import url('https://fonts.googleapis.com/css2?famaily=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: auto;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --text-color: #fff;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --font-color: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: url("../Images/main_background.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body img {
    width: 35vw;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: 600;
    cursor: default;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a.active1 {
    color: var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /*text-fill-color: transparent;**/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.main {
    margin: 100px auto;
    background: var(--second-bg-color);
    color: white;
    top: 55%;
    left: 50%;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
}

.main {
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: var(--second-bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--bg-color);
}


/* Header styles */
.main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
    color: #00f2ff;
}

.form-group-row {
    display: flex;
    /* Use flexbox for layout */
    justify-content: space-between;
    /* Space between the items */
    margin-bottom: 15px;
    /* Space below the row */
}

.form-group {
    flex: 1;
    /* Allow the form groups to grow equally */
    margin-right: 10px;
    /* Space between the two form groups */
}

.form-group:last-child {
    margin-right: 10px;
    /* Remove margin from the last child */
}

.main .show {
    display: block;
    border: .2rem solid #00f2ff;
    border-radius: 20px;
    padding: 20px;
    font-size: 2rem;
    padding-bottom: 10px;
}

.main .show p {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #00ff04;
}

.main .show p strong {
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.file-link {
    color: #02ff02;
    text-decoration: none;
}

.file-link:hover {
    color: #fcff33;
    font-weight: bold;
}

.main a.back {
    width: 49%;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff;
    border: .5rem solid #0ef;
    background: transparent;
    transition: .5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
}

.main a.back:hover {
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 2rem #0ef;
}

button {
    width: 49%;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff;
    border: .5rem solid #2bff00;
    background: transparent;
    transition: .5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
}

button:hover {
    background: #00ff1a;
    color: #000000;
    box-shadow: 0 0 2rem rgb(26, 255, 0);
}

@media print {
    body {
        margin: 0;
        padding: 0;
        font-size: 12pt;
    }

    .main {
        width: 100%;
        max-width: 210mm;
        margin: 0 auto;
        padding: 20px;
        box-shadow: none;
        border: none;
    }

    .back,
    .print {
        display: none;
    }

    h1,
    h5 {
        page-break-after: avoid;
    }

    p {
        page-break-inside: avoid;
    }
}