@import url('https://fonts.googleapis.com/css2?famaily=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root {
    --bg-color : #1f242d;
    --text-color : #fff;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --font-color: #000;
    --active-color: #ffe600;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: url("../Images/main_background.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body img {
    width: 35vw;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: 600;
    cursor: default;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.navbar a.active1 {
    color: var(--active-color);
}


.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /*text-fill-color: transparent;**/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.main {
    width: 650px;
    background: var(--second-bg-color);
    color: white;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    box-sizing: border-box;
    padding: 50px 30px;
}

.main h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 5rem;
    color: #00f2ff;
}

label , p {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Bold labels */
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

p span {
    color: #0ef;
}

select {
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: var(--active-color);
    font-size: 15px;
    border-radius: 0px;
    margin-bottom: 20px;
}

select option {
    color: var(--main-color);
    background: var(--second-bg-color);
}

input[type="number"],
input[type="date"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    color: #0ef;
    font-size: 15px;
    border-radius: 0px;
}



button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff;
    border: .5rem solid #8a2be2;
    background: transparent;
    transition: .5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
}

button:hover {
    background: #8a2be2;
    color: #000000;
    box-shadow: 0 0 2rem rgb(138, 43, 226);
}

.main .back {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: .5rem solid #02eeff;
    color: #ffffff;
    font-weight: bold;
    transition: .5s ease;
}

.main .back:hover {
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 2rem #0ef;
}