@import url('https://fonts.googleapis.com/css2?famaily=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --text-color: #fff;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --font-color: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: url("../Images/main_background.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body img {
    width: 35vw;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: 600;
    cursor: default;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a.active1 {
    color: var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(0, 238, 255) 10%,
            rgb(43, 255, 0) 29%,
            rgb(255, 255, 0) 67%,
            rgb(255, 0, 234) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /*text-fill-color: transparent;**/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.main {
    max-width: 1500px;
    margin: 100px auto;
    top: 50%;
    left: 50%;
    padding: 20px;
    background: var(--second-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--bg-color);
}

/* Header styles */
.main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
    color: #00f2ff;
}

.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    width: 1115px;
    font-weight: bold;
    color: white;
    background: var(--bg-color);
    border: .1rem solid var(--main-color);
    border-radius: 4px;
    transition: .5s ease;
}

.search-bar .reset {
    padding: 10px 20px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: .2rem solid #c5fbff;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}

.search-bar .reset:hover {
    background: #c5fbff;
    color: var(--bg-color);
    box-shadow: 0 0 2rem rgb(0, 238, 255);
}

.search-bar button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: .2rem solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}

.search-bar button:hover {
    background: var(--main-color);
    color: rgb(0, 0, 124);
    box-shadow: 0 0 2rem rgb(255, 255, 255);
}

.search-bar a {
    font-size: 1.5rem;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    border: .2rem solid #11ff00;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 5px;
}

.search-bar a:hover {
    background-color: #11ff00;
    color: #000000;
    box-shadow: 0 0 2rem #00ff22;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 3px solid var(--bg-color);
}

table tr {
    color: #fff;
}

table td {
    background-color: var(--second-bg-color);
    font-size: medium;
}

table th {
    color: var(--main-color);
    background-color: var(--second-bg-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

table td .image-files {
    margin-right: 10px;
    color: #007BFF;
    text-decoration: none;
}

.show {
    width: 40%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: .2rem solid #02eeff;
    color: #ffffff;
    font-weight: bold;
    transition: .5s ease;
}

.edit {
    width: 40%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    background-color: transparent;
    border: .2rem solid #11ff00;
    color: #ffffff;
    font-weight: bold;
    transition: .5s ease;
}

.delete {
    width: 40%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    background-color: transparent;
    border: .2rem solid #ff0000;
    color: #ffffff;
    font-weight: bold;
    transition: .5s ease;
}

.show:hover {
    background-color: #02eeff;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 0 2rem #02eeff;
}

.edit:hover {
    background-color: #11ff00;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 0 2rem #11ff00;
}

.delete:hover {
    background-color: #ff0000;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 0 2rem #ff0000;
}

/* Default link color */
.file-link {
    color: #02eeff;
    /* Default color for unvisited links */
    text-decoration: none;
    /* Remove underline */
}

/* Color for visited links */
.file-link:visited {
    color: #ff00ee;
    /* Color for visited links */
}

/* Color when hovering over the link */
.file-link:hover {
    color: #fcff33;
    /* Change color on hover */
    font-weight: bold;
    /* Optional: make the font bold on hover */
}

/* Color when the link is active (being clicked) */
.file-link:active {
    color: #28c700;
    /* Change color when the link is active */
}

/* Pagination Styling */
.pagination {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin: 2px;
    text-align: center;
    background-color: transparent;
    border: .2rem solid #ffff00;
    color: #ffffff;
    font-weight: bold;
    transition: .5s ease;
}

.pagination a:hover {
    background-color: #ffff00;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 0 2rem #ffff00;
}

.pagination .active {
    border: .2rem solid #ff0000;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 2rem #ff0000;
}

.pagination .prev,
.pagination .next {
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .pagination a {
        padding: 8px 10px;
        font-size: 16px;
    }

    .pagination .prev,
    .pagination .next {
        font-size: 18px;
        padding: 6px 10px;
    }
}
